/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
body * {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: 'Bowlby One SC', cursive; */
}

.page {
  position: relative;
}

.stage {
  background: #113860;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
  top: 0px;
  color: #fefefd;
}

@media (min-width: 768px) {
  .stage {
    background: url("img/jeep.jpg");
    height: 500px;
  }
}

.color-overlay {
  width: 100%;
  height: 100%;
  /* background: #113860; /* dark blue */
  background: #f89f5a;
  /* orange */
  opacity: 0.7;
  position: absolute;
}

.color-overlay::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #113860;
  /* dark blue */
  transform-origin: left bottom;
  transform: skewY(-10deg);
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.left-side {}

.right-side {
  position: relative;
}

.red-car {
  position: absolute;
  top: -100px;
  left: 50px;
  z-index: 10;
}

.red-car img {
  width: 300px;
}

@media (min-width: 992px) {
  .red-car img {
    width: 500px;
  }
}

.text-highlight {
  color: #f89f5a;
}

@media (min-width: 992px) {
  .red-car {
    position: absolute;
    top: 100px;
    left: -50px;
  }
}

.background-orange::before {
  content: '';
  position: absolute;
  background: #f89f5a;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  transform: skewY(-5deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.background-orange {
  position: relative;
  height: 100px;
}

.background-grey::before {
  content: '';
  position: absolute;
  background: #e8e8e8;
  width: 100%;
  height: 100%;
  transform-origin: left top;
  transform: skewY(-2deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.background-grey {
  position: absolute;
  top: 500px;
  height: 100px;
  width: 100%;
  background-color: #e8e8e8;
}

/* .value-proposition-items::before {
  content:'';
  position: absolute;
  background-color: white;
  width:100%;
  height: 100%;
  transform-origin:left top;
  transform:skewY(2deg);
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2;
} */
.value-proposition-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 24px;
  position: absolute;
  top: 500px;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 2;
}

.value-proposition-items p {
  z-index: 3;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 16em;
}

.icon {
  font-size: 14pt;
  padding: 10px;
  color: #3355cb;
}

.description {
  padding: 10px;
}

.description h5 {
  font-size: 12pt;
  font-family: 'Bowlby One SC', cursive;
}